
ChessIsAThing/.vs/ChessIsAThing/v15/Server/sqlite3/db.lock
ChessIsAThing/.vs/ChessIsAThing/v15/Server/sqlite3/storage.ide-wal
ChessIsAThing/.vs/ChessIsAThing/DesignTimeBuild/.dtbcache
*.ide-shm
ChessIsAThing/.vs/ChessIsAThing/DesignTimeBuild/.dtbcache
ChessIsAThing/.vs/ChessIsAThing/v15/.suo
ChessIsAThing/.vs/ChessIsAThing/v15/Server/sqlite3/storage.ide
*.ide
*.cache
*.cache
*.lref
*.cache
